<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerHost" value="smtp.gmail.com" />
    <add key="ServerPort" value="587" />
    <add key="UseSsl" value="false" />
    <add key="AuthentificationEmailLogin" value="mrfix0r@gmail.com" />
    <add key="AuthentificationEmailPassword" value="qarynelffgoqaiip" />
    <add key="SenderName" value="Тестовое задание Роспартнер" />
  </appSettings>
</configuration>